# ===============================

# Node modules (DO NOT PUSH)

# ===============================

node_modules/

# ===============================

# Build output

# ===============================

dist/
build/

# ===============================

# Cache files

# ===============================

.npm/
npm-cache/
.cache/
.vite/

# ===============================

# Environment variables (IMPORTANT)

# ===============================

.env
.env.*

# ===============================

# Logs

# ===============================

*.log

# ===============================

# OS files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# IDE files

# ===============================

.vscode/
.idea/
*.iml

# ===============================

# Misc

# ===============================

coverage/
temp/
